<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hqins.demo.dao.slave.CityDao">
    <resultMap id="cityInfoList" type="com.hqins.demo.vo.CityInfoVO">
        <result column="city_name" property="cityName"/>
        <result column="description" property="description"/>
    </resultMap>
    <resultMap id ="cityResult" type="com.hqins.demo.domain.slave.City">
        <result column="id" property="id"/>
        <result column="province_id" property="provinceId"/>
        <result column="city_name" property="cityName"/>
        <result column="description" property="description"/>
    </resultMap>


    <sql id="Base_Column_List">
     city_name,description
    </sql>
    <!--Query city by id-->
    <select id="findCityById" resultMap="cityResult" parameterType="java.lang.Integer">
        select * from city where id=#{id}
    </select>
    <!-- Query  by cityname-->
    <select id="findByName" resultMap="cityInfoList" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from city
        where city_name=#{cityName}
    </select>
    <!-- Delete by cityname-->
    <delete id="deleteByName" parameterType="java.lang.String">
        delete from city
        where city_name=#{cityName}
    </delete>

    <!-- Insert city object-->
    <insert id="insertOneCity" useGeneratedKeys="true" keyProperty="id" parameterType="com.hqins.demo.dto.CityDTO">
        insert into city(province_id,city_name,description) values (#{provinceId},#{cityName},#{description})

    </insert>

    <!-- Update city information-->
    <update id="updateCities" parameterType="com.hqins.demo.dto.CityDTO">
        update city set city_name =#{cityName},description=#{description} where province_id =#{provinceId}
    </update>


</mapper>